.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.home_header a{
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
}

.home_header a:hover{
    text-decoration: underline;
}

.header_right{
    display: flex;
    align-items: center;
    min-width: 13vw;
}

.header_right > .MuiSvgIcon-root{
    margin-right: 20px;
    padding: 9px;
    transition: all 0.4s;
}

.header_right > .MuiSvgIcon-root:hover{
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.header_right > .MuiAvatar-root{
    transition: all 0.4s;
}

.header_right > .MuiAvatar-root:hover{
    border: .5px solid lightgray;
    cursor: pointer;
}

.home_body{
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-top: 5%;
}

.home_body > img{
    object-fit: contain;
    height: 200px;
} 